.navigation {
  color: crimson;
  margin: auto;
  background-color: #eee;
  text-align: center;
  padding: auto;
}

.navigation__link {
  margin: auto;
  background-color: #eee;
  text-align: center;
  padding: auto;
}